[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
zappa = "*"

[packages]
flask-apispec = "*"
apispec = "<4"
webargs = "*"
flask-restful = "*"
postal = "*"

[requires]
python_version = "3.7"
